<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
    <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='css/style.css') }}">
    <title>Dojo Survey</title>
    </head>
    <body class="container">
    <div class="row">
        <!-- ------------this is the account creation section------------ -->
        <form action="/register" method="post" class="col">
        <div style="color: rgb(153, 147, 147); background-color: rgb(184, 71, 94);">
            {% with messages = get_flashed_messages(with_categories=True) %}
            {% if messages %}
            <div class="alert alert-danger" role="alert">
                <strong>Incorrect Account Registration</strong>
                {% for message in messages %}
                <p>{{message}}</p>
                {% endfor %}
            </div>
            {% endif %}
            {% endwith %}
        </div>
        <h1>Sign Up</h1>
        <hr class="mb-4">
        <p>First Name:</p>
        <input type="text" name="first_name">
        <p>Last Name:</p>
        <input type="text" name="last_name">
        <p>Email:</p>
        <input type="text" name="email">
        <p>Password:</p>
        <input type="password" name="password">
        <p>Confirm Password:</p>
        <input type="password" name="password_confirm">
        <input type="submit" name="Submit" class="btn btn-primary">
        </form>

        <form action="/login" method="post" class="col">
        {% with messages = get_flashed_messages(category_filter=['login']) %}
            {% if messages %}
            <div class="alert alert-danger" role="alert">
            <strong>Incorrect Login Attempt</strong>
                {% for message in messages %}
                <p>{{message}}</p>
                {% endfor %}
            </div>
            {% endif %}
        {% endwith %}
        <h1>Login</h1>
        <hr class="mb-4">
        <p>Email:</p>
        <input type="text" name="email">
        <p>Password:</p>
        <input type="password" name="password">
        <input type="submit" value="Login" class="btn btn-primary">
        </form>

    </div>
</body>
</html>